@font-face {
    font-family: 'Futurama Bold Font';
    src: url('FuturamaBoldFont.woff2') format('woff2'),
        url('FuturamaBoldFont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

