.films-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.films-item {
  padding: 0 16px;
  background-color: #1A56DB;
  opacity: 0.5;
  --aug-border: initial;
  --aug-border-bg: #1E429F;
  --aug-border-all: 2px;
}

.films-item:first-of-type {
  opacity: 1;
  --aug-tr-inset1: 160px;
  --aug-br-inset2: 160px;
  --aug-tr1: 5px;
  --aug-br1: 5px;
}

.films-item:nth-of-type(2),
.films-item:nth-of-type(3) {
  --aug-tl1: 5px;
  --aug-bl1: 5px;
  --aug-tl-inset2: 160px;
  --aug-bl-inset1: 160px;
  --aug-l1: 6px;
  --aug-l-extend1: 32px;
  --aug-tr-inset1: 160px;
  --aug-br-inset2: 160px;
  --aug-tr1: 5px;
  --aug-br1: 5px;
}

.films-item:last-of-type {
  --aug-tl1: 5px;
  --aug-bl1: 5px;
  --aug-tl-inset2: 160px;
  --aug-bl-inset1: 160px;
  --aug-l1: 6px;
  --aug-l-extend1: 32px;
}


.all-films-btn {
  margin-top: 16px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: var(--middle-blue);
}