.films-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.films-item {
  padding: 0 16px;
  background-color: #1A56DB;
  opacity: 0.5;
  --aug-border: initial;
  --aug-border-bg: #1E429F;
  --aug-border-all: 2px;
}

.films-item:first-of-type {
  opacity: 1;
  --aug-tr-inset1: 160px;
  --aug-br-inset2: 160px;
  --aug-tr1: 5px;
  --aug-br1: 5px;
}

.films-item:nth-of-type(2),
.films-item:nth-of-type(3) {
  --aug-tl1: 5px;
  --aug-bl1: 5px;
  --aug-tl-inset2: 160px;
  --aug-bl-inset1: 160px;
  --aug-l1: 6px;
  --aug-l-extend1: 32px;
  --aug-tr-inset1: 160px;
  --aug-br-inset2: 160px;
  --aug-tr1: 5px;
  --aug-br1: 5px;
}

.films-item:last-of-type {
  --aug-tl1: 5px;
  --aug-bl1: 5px;
  --aug-tl-inset2: 160px;
  --aug-bl-inset1: 160px;
  --aug-l1: 6px;
  --aug-l-extend1: 32px;
}

.breadcrumbs {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.breadcrumbs-item {
  width: 32px;
  height: 24px;
  background-color: #1E429F;
  clip-path: polygon(100% 0%, 44% 100%, 0% 100%, 58% 0%);
}

.breadcrumbs-item.active {
  background-color: #E3A008;
}

.films-content {
  margin-top: 18px;
  padding: 18px;
  padding-bottom: 32px;
  --aug-border: initial;
  --aug-border-bg: #1E429F;
  --aug-border-all: 2px;
  --aug-tr: 0.5rem;
  --aug-br: 20px;
  --aug-bl: 16px;
  --aug-br-extend2: 55%;
  --aug-inlay-bg: transparent;
}

.films-content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.film-name {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 125%;
  color: #E3A008;
}

.film-description {
  margin-bottom: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 4%;
  color: #D1D5DB;
}