.navigation-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 232px;
  height: 100vh;
  padding: 72px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #0D1422;
  z-index: 101;
  /* animation: fadeIn 0.3s ease-out; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-close-btn {
  position: absolute;
  padding: 4px;
  top: 18px;
  right: 18px;
  background-color: transparent;
  border: none;
  z-index: 102;
}

.nav-close-btn img {
  width: 28px;
  height: 28px;
}

.main-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 32px;
}

.nav-item {
  font-family: var(--common-font-family);
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 8%;
  color: #3F83F8;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 40px;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: #101F49;
  border: 1px solid #1E429F;
}