.navigation-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 72px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #0D1422;
  z-index: 101;
}

.nav-close-btn {
  position: absolute;
  padding: 4px;
  top: 18px;
  right: 18px;
  background-color: transparent;
  border: none;
  z-index: 102;
}

.nav-close-btn img {
  width: 28px;
  height: 28px;
}

.main-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 32px;
}

.nav-item {
  font-family: var(--common-font-family);
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 8%;
  color: #3F83F8;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
}