.main-navigation {
  position: absolute;
  /* top: 80px; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 72px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0D1422;
}