.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: rgba(12, 27, 67, 0.9);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  width: 236px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon,
.video-icon,
.burger-icon {
  width: 24px;
  height: 24px;
}

.header-title {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #A4CAFE;
}

.video-icon button,
.burger-icon button {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  background-color: transparent;
}