@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('/node_modules/augmented-ui/augmented-ui.min.css');

@font-face {
  font-family: 'Futurama Title Font';
  src: url('/fonts/futurama/FuturamaTitleFont.woff2') format('woff2'),
    url('/fonts/futurama/FuturamaTitleFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futurama Bold Font';
  src: url('/fonts/futurama/FuturamaBoldFont.woff2') format('woff2'),
    url('/fonts/futurama/FuturamaBoldFont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Futura font Medium Cyrillic';
  src: url('/fonts/futura/Futura-font-Medium-Cyrillic.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


:root {
  --dark-blue: #000d1c;
  --middle-blue: #3F83F8;
  --light-blue: #C3DDFD;
  --common-font-family: 'Futurama Bold Font', sans-serif;
  --title-font-family: 'Futura font Medium Cyrillic', sans-serif;
  --header-height: 64px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--common-font-family);
  background-color: var(--dark-blue);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}