@font-face {
  font-family: 'Futurama Title Font';
  src: url('/fonts/futurama/FuturamaTitleFont.woff2') format('woff2'),
    url('/fonts/futurama/FuturamaTitleFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futurama Bold Font';
  src: url('/fonts/futurama/FuturamaBoldFont.woff2') format('woff2'),
    url('/fonts/futurama/FuturamaBoldFont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Futura font Medium Cyrillic';
  src: url('/fonts/futura/Futura-font-Medium-Cyrillic.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


:root {
  --common-font-family: 'Futurama Bold Font', sans-serif;
  --title-font-family: 'Futura font Medium Cyrillic', sans-serif;
  --header-height: 64px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--common-font-family);
}